@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');

body {
    background: #D6FFF6;

    font-family: 'Roboto', sans-serif;
}

.container {
    position: relative;
    width: 100%;

    margin: 0;

    box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.66);
}

.container::after {
    position: absolute;
    content: " ";
    
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    pointer-events: none;
    border-radius: inherit;
}

.container__title {
    padding: 5%;

    background: #231651;

    font-size: 1.7em;
    font-weight: bold;
    color: #D6FFF6;
}

.container__form {
    padding: 5%;
}

.container__form > * {
    margin-bottom: 2rem;
}

.container__form fieldset > *, 
.container__form fieldset > * > *,
.task__input > * {
    margin-bottom: 1rem;
}

.container__form > *:last-child, 
.container__form fieldset > *:last-child,
.container__form fieldset > * > *:last-child,
.task__input > *:last-child {
    margin-bottom: 0;
}

.tasks__title {
    font-size: 1.5em;
    font-weight: 500;
}

.task__condition {
    text-align: justify;
}

.task__input {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.task__input > button {
    width: 50%;

    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;

    background: #231651;
    color: #D6FFF6;
}

.task__input > input[type=text] {
    padding: 0.5rem;
}

.task__input > input[type=file] {
    width: 100%;
}

.task__result {
    width: 100%;

    padding: 1rem;

    overflow-y: scroll;
    resize: none;
}

@media only screen and (min-width: 530px) {
    .task__input {
        flex-direction: row;
    }

    #task_8 .task__input {
        flex-direction: column;
    }

    .task__input > input {
        flex-grow: 1;

        margin-bottom: 0;
    }

    .task__input > button {
        width: auto;
    }
}

@media only screen and (min-width: 750px) {
    .container {
        width: 725px;

        margin: 1em auto;

        border-radius: 2em;
    }

    .container::after {
        box-shadow: inset 0px 0px 0px 2px #231651;
    }

    .container__title {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }
}
